header {
        height: 365px;
        background: url("http://i.imgur.com/wU2YhOJ.png");
        background-color: #262626;
        background-size: cover;
        background-position: center;
      }

      header h1{
        font-family: Montserrat, sans-serif !important;
        font-size: 5.5em;
        color: white;
        word-break: normal;
        padding-top: 115px;
        
      }
      
      body h1 {
        font-family: 'Lato', sans-serif;
        line-height: 72px;
      }
      
      body, footer { font-family: 'Open Sans', sans-serif !important; }
      
      body p { line-height: 28px; }
      
      footer { background-color: #262626; }

      .bs-docs-sidenav.affix {
          top: 0px;
      }

      .bs-docs-sidenav {
        width: 228px;
        margin: 60px 0 20px 0;
        padding: 0 0 0 20px;
        background-color: #fff;
      }

      .bs-docs-sidenav li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
      }

      .bs-docs-sidenav .nav>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
      }

      /* active & hover links */
      .bs-docs-sidenav .active>a, 
      .bs-docs-sidenav li>a:hover, 
      .bs-docs-sidenav li>a:focus {
        color: #262626;                 
        text-decoration: none;          
        background-color: transparent;  
        border-left-color: #262626; 
      }
      /* all active links */
      .bs-docs-sidenav .active>a, 
      .bs-docs-sidenav .active:hover>a,
      .bs-docs-sidenav .active:focus>a {
        font-weight: 700;
      }
      /* nested active links */
      .bs-docs-sidenav .nav>.active>a, 
      .bs-docs-sidenav .nav>.active:hover>a,
      .bs-docs-sidenav .nav>.active:focus>a {
        font-weight: 500;
      }

      /* hide inactive nested list */
      .bs-docs-sidenav ul.nav {
        display: none;           
      }
      /* show active nested list */
      .bs-docs-sidenav .active>ul.nav {
        display: block;           
      }
      /* special back to top styling */
      .back-to-top:hover,
      .back-to-top:focus{
        border-left-color: transparent !important;
      }

      @media (min-width: 1200px) {
        .bs-docs-sidenav {
            width: 258px;
          }
        .affix {
            position: fixed;
          }
      }
